*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-not-found {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 200px;
    background-color: transparent;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 60px;
}
.page-not-found h1 {
    font-family: "Mulish", sans-serif;
    padding: 5px 5px;
    font-size: 36px;
}
.page-not-found p {
    font-size: 14px;
    color: #6B7280;
    font-family:  sans-serif;
  /* font-weight: 600; */
}
.page-not-found button {
    margin-top: 10px;
    padding: 15px 20px;
    border: none;
    background-color: #634C9F;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
    font-size: 13px;
}