*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
article .mobileAcc {
    margin: auto;
    margin-bottom: 15px;
    width: 96%;
    height: auto;
   text-align: center;
    background-color: #F1F1F2;
    padding: 7px 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
article .mobileAcc h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* color: white; */
}

article .head {
    margin: auto;
    /* padding-top: 20px; */
    width: 96%;
    height: auto;
    display: grid;
    /* grid-gap: 15px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    padding-bottom: 10px;
    text-align: center;
}
.secondhead {
    margin-bottom: 10px;
}
.lasthead {
    margin-top: -10px;
}
/* #HD img{
    width: 100px !important;
} */
article .head::-webkit-scrollbar {
    display: none;
}
article .head img {
    width: 180px;
    border-radius: 10px;
    box-shadow: 1px 2px 16px #05080f13;
}
article .head p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-top: 8px;
}

.acc-product {
    width: 100%;
    height: auto;
    background-color: white;
}
.acc-product article .mobileAcc {
    margin: auto;
    width: 96%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AADEF1;
    padding: 10px 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.acc-product article .mobileAcc h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    /* color: black; */
}
.acc-product article .mobileAcc span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    /* color: black; */
}
.acc-product .products {
    margin: auto;
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 60vh;
}
.product-image {
    position: relative;
}
.products img {
    width: 200px;
}



.product {
    margin: auto;
    width: 96%;
    height: auto;
    /* background-color: red; */
}
.product .h1 {
    width: 100%;
    height: auto;
    background-color: #F1F1F2;
    padding: 10px 10px;
    text-align: center;
}
.product .h1 h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    /* color: #F78B1E; */
}
.product .prod-grid {
    /* margin-top: -10px; */
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    /* background-color: #F1F1F2; */
    position: relative;
    padding-top: 20px;
}
.prod-grid .com {
    background-color: #2E657A;
    width: 80px;
    border-radius: 2px;
}
.prod-grid .com h3 {
    font-size: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 4px;
}
.prod-grid .lumia {
    display: flex;
    /* align-items: center; */
    margin-top: -18px;
    margin-left: -3px;
}
.prod-grid .lumia p {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-size: 13px;
}
.prod-grid .lumia span {
    color: #F78B1E;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.prod-grid  .one {
    width: auto;
    height: auto;
    position: relative;
    /* background-color: red; */
}
.prod-grid .one  .sp  {
    position: absolute;
    top: 78%;
    right: 35%;
    width: 50px;
    height: 24px;
    border-radius: 5px;
    background-color: #FEF3E9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F78B1E;
    font-weight: bolder;
    font-size: 13px;
    font-smooth: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* display: none; */
}
.prod-grid .one .heart {
    position: absolute;
    right: 8%;
    top: 65%;
    margin-top: -60px;
    background-color: #ffffff7e;
    padding: 5px;
    border-radius: 100%;
    color: #F8A959;
    font-weight: 900 !important;
}
.prod-grid .prod-name h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgb(63, 63, 63);
    margin-top: 5px;
}
.prod-grid .prod-price p {
    margin-top: -5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.prod-grid .prod-scound-price {
    margin-top: -18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(63, 63, 63);
    text-decoration:  line-through;
}
.prod-grid .prod-discription {
    display: none;
}
.prod-grid .prod-img img {
    width: 140px;
}
.prod-grid .prod-star ul {
    display: flex;
    list-style: none;
    margin-left: -40px;
    margin-top: -12px;
}
.prod-grid .prod-star ul li {
    margin-left: 5px;
    color: #F6B01E;
    font-size: 13px;
}