@media only screen and (max-width: 1115px) {
    .product .prod-grid {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 980px) {
    
}

@media only screen and (max-width: 820px) {
    
}

@media only screen and (max-width: 680px) {
    .product .h1 {
        text-align: left;
        padding: 0px;
    }
    .product .h1 h1 {
        font-size: 10px;
        padding: 10px 5px;
    }
    .product .prod-grid {
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #F1F1F2;
        padding-top: 5px;
        margin-top: -10px;
        padding: 5px 0px;
    }
    .prod-grid  .one {
        background-color: white;
        /* padding: 0px 5px; */
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
    }
    .prod-grid .one  .sp {
        top: 3%;
        right: 4%;
        width: 44px;
        font-size: 11px;
    }
    .prod-grid .one .heart {
        top:60%;
    }
    .prod-grid .prod-name h2 {
        font-size: 8px;
    }
    .p-price {
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
    .prod-grid .prod-price p {
        margin-top: 0px;
        margin-right: 3px;
        font-size: 11px;
    }
    .prod-grid .prod-scound-price {
        margin-top: 0px;
        font-size: 9px;
        color: gray;
    }
    .prod-grid .lumia p {
        font-size: 11px;
    }
    .prod-grid .lumia span  {
        font-size: 11px;
    }
    .prod-grid .com {
        display: block;
    }
    .prod-grid form a {
        text-decoration: none;
    }
    .prod-grid form a button {
        display: block;
        padding: 6px 40px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 575px) {
    .product .prod-grid {
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr ;
        background-color: #F1F1F2;
        padding-top: 5px;
        margin-top: -10px;
        padding: 5px 0px;
    }
}