*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
article .mobileAcc {
    margin: auto;
    width: 96%;
    height: auto;
    text-align: center;
    background-color: #FEE2CC;
    padding: 10px 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
article .mobileAcc h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 22px;
}
article .head {
    margin: auto;
    padding-top: 5px;
    width: 96%;
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    padding-bottom: 30px;
    text-align: center;
}
article .head::-webkit-scrollbar {
    display: none;
}
article .head img {
    width: 170px;
    border-radius: 10px;
    box-shadow: 1px 2px 16px #05080f13;
}
article .head p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
}