*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.myacc {
    width: 95%;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    padding-bottom: 20px;
    /* background-color: red; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.myacc p {
    color: #9CA3AF;
    font-size: 13px;
}
.myacc i {
    font-size: 10px;
}
.myacc a {
    padding-left: 10px;
    color: #030712;
    text-decoration: none;
    font-size: 13px;
    cursor: none;
    margin-right: 8px;
}
.login-form {
    margin-top: 270px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    /* background-color: red; */
}
.login-form .login {
    color: #111827;
}
.login-form .text {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form .text a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-form .text a h1 {
    color: #9CA3AF;
    font-size: 23px;
}
.login-form .text a .login {
    margin-right: 30px;
    color: #111827;
    text-decoration: none;
}
.form-control .p {
    padding-bottom: 10px;
}
.login-form .form-control {
    display: flex;
    justify-content: center;
}
.login-form .form-control form button {
    padding: 15px 219px;
    border: none;
    color: white;
    background-color: #634C9F;
    border-radius: 5px;
}
.message {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 15px;
    /* background-color: green; */
    /* margin-top: 200px; */
    display: none;
}
.message div {
    width: auto;
    height: auto;
    padding: 11px 130px;
    background-color: rgba(250, 2, 2, 0.11);
    border: thin solid rgba(250, 2, 2, 0.178);
    border-radius: 5px;
    color: rgba(250, 2, 2, 0.507);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkbox {
    width: 470px;
    height: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkbox div {
    display: flex;
    align-items: center;
}
.checkbox div p {
    color: #111827;
    font-size: 15px;
    padding-left: 10px;
}
.checkbox a {
    font-size: 15px;
    text-decoration: none;
    color: #1D4ED8;
    margin-top: -7px;
}
.checkbox input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1.5px solid #D1D5DB;
    border-radius: .25rem;
    appearance: none;
    cursor: pointer;
}
.checkbox input[type="checkbox"]:checked {
    background-color: #634C9F;
}
.checkbox input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 4px;
    width: 6px;
    height: 12px;
    border: 2px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}
.checkbox input[type="checkbox"]:checked:before {
    border-color: white;
    animation: checkAnim .2s ease;
}
@keyframes checkAnim {
    from {
        transform: rotate(45deg) scale(0);

    }
}