*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signin-form {
    margin-top: 150px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    /* background-color: red; */
    
}
.signin-form .text {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-form .text a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signin-form .text a h1 {
    color: #9CA3AF;
    font-size: 23px;
}
.signin-form .text a .sign {
    margin-left: 30px;
    color: #FF9900;
    text-decoration: none;
}
.signin-form .form-control {
    display: flex;
    justify-content: center;
}
.form-control form{
    width: 39%;
    height: auto;
    padding-left: 10px;
    margin-bottom: 20px;
    /* background-color: red; */
    padding-bottom: 10px;
}
.form-control form .p {
    padding-right: 50px;
    padding-top: 20px;
    color: #030712;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}.form-control form div {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control form div label {
    color: #030712;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-control form div .inp {
    margin-top: 5px;
    width: 475px;
    padding-left: 10px;
    height: 8vh;
    border: thin solid #D1D5DB;
    border-radius: 5px;
    outline: none;
    /* box-shadow: #D1D5DB 2px 1px 8px; */
}.form-control form div i{
    position: absolute;
    top: 55%;
    right: 10%;
    font-size: 20px;
    color: #FF9900;
    cursor: pointer;
    animation: checkAnim .2s ease;
}
#iconpassword {
    display: none;
}
.form-control form .policy {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #030712;
    font-size: 14px;
    padding-right: 40px;
    /* text-align: center; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}.form-control form .policy a {
    text-decoration: none;
    color: #FF9900;
    /* font-weight: bold; */
}
.form-control form button {
    padding: 15px 213px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 5px;
}