
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* @media only screen and (max-width: 1250px) {
    header .justify {
        display: block;
        font-weight: 900;
    }
    header .account {
        width: 20%;
    }
    header  .logo input {
        padding-right: 150%;
    }
    header .account div img {
        width: 22px;
        display: flex;
        align-items: center;
    }
    header .account span ul li a {
        font-size: 12px;
    }
    header nav .left {
        display: none;
    }
    header nav .right {
        width: 100%;
        padding: 0px 5px;
    }
    header nav .right ul {
    display: none;
    }
    header nav .right .Tabpanel {
        width: auto;
        margin-left: 0px;
    }
    header nav {
        margin-top: 125px;
    }
    .Frame {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr ;
    } 
    .banner {
        padding: 0px 10px;
        overflow-x: scroll;
    }
    .banner::-webkit-scrollbar {
        display: none;
    }
    .banner .one {
        width: 230px;
    }
    .banner .two {
        width: 230px;
    }
    .banner .three {
        width: 230px;
    }
    .banner .four {
        width: 230px;
    }
    .iner {
        padding: 0px 10px;
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    .iner .left {
        width: auto;
        margin-top: 10px;
        padding: 20px 30px;
    }
    .iner .right {
        width: auto;
        padding: 30px 30px;
    }
    .iner h1 {
        margin-top: 10;
        font-size: 35px;
    }
} */
@media only screen and (max-width: 1115px) {
    
    header  .logo .myinp {
        padding-right: 140%;
    }
    header .account {
        width: 20%;
        padding-right: 0px;
    }
    header  .justify  {
        display: block;
        color: #282828;
        font-size: 20px;
        margin-top: -5px;
    }
    header nav .left {
        display: none;
    }
    header nav .right {
        width: 100%;
        /* background-color: red; */
        padding: 0px 5px;
    }
    header nav .right .more  {
    display: none;
    }
    header nav .right .Tabpanel {
        width: auto;
        margin-left: 0px;
    }
    header nav {
        margin-top: 205px;
    }
    .sidenav {
        height: auto;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 10;
        left: -300px;
        background-color: white;
        overflow-x: hidden;
        transition: left 0.5s;
        display: block;
        /* padding-top: 60px; */
    }
    .sidenav.active {
        left: 0;
    }
    .sidenav .hamburger ul li {
        list-style: none;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sidenav .hamburger ul li img {
        margin-right: 10px;
    }
    .sidenav  .hamburger ul li i {
        margin-right: 10px;
    }
    .sidenav .hamburger ul li a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #030712;
        text-decoration: none;
    }
    .sidenav .hamburger ul li a:hover {
        color: #FF9900;
    }
    .sidenav .hamburger ul li .all {
        font-weight: bold;
        font-family: sans-serif;
    }
    .sidenav .hamburger ul li i {
        color: #030712;
        font-size: 13px;
        display: flex;
        align-items: center;
        font-size: 20px !important;
        /* margin-left: 50px; */
    }

    .Frame {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr ;
        /* overflow-x: scroll; */
    } 
    .banner {
        width: 95%;
        /* padding: 0px 10px; */
        /* padding-left: 10px; */
        /* width: ; */
        overflow-x: scroll;
    }
    .banner::-webkit-scrollbar {
        display: none;
    }
    .banner .one {
        width:320px;
        /* padding-right: ; */
    }
    .banner .two {
        width:320px;
    }
    .banner .three {
        width:320px;
    }
    .banner .four {
        width:320px;
    }
    .iner {
        padding: 0px 10px;
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    .iner .left {
        width: auto;
        margin-top: 10px;
        padding: 20px 30px;
    }
    .iner .right {
        width: auto;
        padding: 30px 30px;
    }
    .iner h1 {
        margin-top: 10;
        font-size: 35px;
    }
    footer .box {
        overflow-x: scroll;
    }
    footer .box .one {
        width: 200px;
    }
    footer .box .two {
        width: 200px;
        /* padding-left: 40px; */
    }
    footer .box .three {
        width: 200px;
        padding-left: 0px;
    }
    footer .box .four {
        width: 160px;
        padding-left: 0px;
    }
    footer .box .five {
        width: 240px;
        padding-left: 0px;
        /* background-color: red; */
    }
    .deals .grid {
        overflow-x: scroll;
    }
    .deals .grid::-webkit-scrollbar {
        display: none;
    }
    .sidenav .hamburger .logo  {
        display: none;
    }
    .sidenav .hamburger .help  {
        display: none;
    }
    .sidenav .hamburger form  {
        display: none;
    }
    .sidenav .hamburger ul .our  {
        display: none;
    }
    .catego div {
        padding-top: 10px;
        grid-gap: 10px;
        width: 98%;
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 1029px) {
    header .notification h1 {
        padding-left: 30px;
        font-size: 10px;
    }
    header .notification .launch-time {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }
    header .notification .launch-time p {
        font-size: 10px;
    }
    header .notification .launch-time .sale-time li {
        font-size: 14px;
    }
    header  .logo .myinp {
        padding-right: 100%;
    }
    header .account {
        width: 20%;
    }
    header  .account .text {
        display: block;
    }
}

@media only screen and (max-width: 960px) {
    header nav {
        margin-top: 230px;
    }
    header .account {
        width:31%;
        padding-right: 0px;
    }
    header  .row-2 {
        padding: 7px 7px;
    }
    header  .logo a h1 {
        font-size: 25px;
    }
    header  .logo .myinp {
        display: none;
    }
    header  .logo a  .star {
        display: block;
        width: 20px;
        height: 20px;
        font-size: 12px;
        margin-top: -13px;

    }
    header .logo i {
        display: none;
    }
    header .second {
        position: relative;
    }
    header   .inp {
        display: block;
        position: absolute;
        /* left: 2%; */
        right: 5%;
        color: #282828;
        margin-top: -10px;
        font-weight: 900 !important;
    }
    .call {
        margin-top: 15px;
    }
    .sidenav {
        height: auto;
        width: 350px;
        position: fixed;
        z-index: 1;
        top: 80px;
        left: -350px;
        background-color: #111;
        overflow-x: hidden;
        transition: left 0.5s;
        display: block;
        /* padding-top: 60px; */
    }
    .sidenav.active {
        left: 0;
    }
    .sidenav {
        height: auto;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 120px;
        left: -300px;
        background-color: white;
        overflow-x: hidden;
        transition: left 0.5s;
        display: block;
        /* padding-top: 60px; */
    }
    .sidenav.active {
        left: 0;
    }
    .sidenav .hamburger ul li {
        list-style: none;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sidenav .hamburger ul li img {
        margin-right: 10px;
    }
    .sidenav  .hamburger ul li i {
        margin-right: 10px;
    }
    .sidenav .hamburger ul li a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #030712;
        text-decoration: none;
    }
    .sidenav .hamburger ul li a:hover {
        color: #FF9900;
    }
    .sidenav .hamburger ul li .all {
        font-weight: bold;
        font-family: sans-serif;
    }
    .sidenav .hamburger ul li i {
        color: #030712;
        font-size: 13px;
        display: flex;
        align-items: center;
        font-size: 20px !important;
        /* margin-left: 50px; */
    }
    /* header   .inp  */
    header .secondinp {
        width: 100%;
        padding-left: 12px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: transparent;
        border: thin solid #282828 !important;
        margin-top: -8px;
        border: none;
        outline: none;
        border-radius: 10px;
        display: block;
    }
    header .secondinp::placeholder {
        font-size: 14px;
    }
    .Frame {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        /* overflow-x: scroll; */
    }
    .Frame2 {
        width: 99%;
        grid-gap: 10px;
        overflow-x: scroll;
        padding: 0px 20px;
    }
    .Frame2::-webkit-scrollbar {
        display: block; /* Hide scrollbar for WebKit browsers */
      }
    .Frame2 .one {
        width:360px;
        background-size: cover;
        padding: 90px 20px;
        background-position: top;
    }
    .Frame2 .two {
        width:360px;
        background-position: left;
        background-size: cover;
        padding: 90px 20px;
        background-position: top;
    }
    .Frame2 .three {
        width:360px;
        background-position: right;
        background-size: cover;
        padding: 90px 20px;
        background-position: top;
    }
    .Frame5 {
        width: 99%;
        grid-gap: 10px;
        overflow-x: scroll;
        padding: 0px 20px;
    }
    .Frame5::-webkit-scrollbar {
        display: block; /* Hide scrollbar for WebKit browsers */
      }
    .Frame5 .one {
        width:350px;
        background-size: cover;
        padding: 90px 40px;
        background-position: top;
    }
    .Frame5 .two {
        width:350px;
        background-position: left;
        background-size: cover;
        padding: 90px 40px;
        background-position: top;
    }
    .Frame5 .three {
        width:350px;
        background-position: right;
        background-size: cover;
        padding: 90px 40px;
        background-position: top;
    }
    .product .prod {
        width: 100%;
    }
    footer .form {
        flex-direction: column;
        padding-bottom: 10px;
        padding: 15px;
    }
    footer .form .left {
        width: 55%;
        padding: 10px;
    }
    footer .form .right {
        width: 100%;
        padding: 0px;
    }
    footer .right .inp  i {
        left: 3%;
    }
    footer .right p {
        text-align: right;
        margin-left: 0px;
    }
    footer .right .inp input  {
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 40px;
    }
    footer .right .inp button {
        top: 0%;
        right: 0%;
    }
    footer .pay {
        padding: 10px;
        flex-direction: column;
    }
    footer .pay .logo ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer .pay .list ul li a {
        margin-left: -10px;
    }

    article .head img{
        margin-top: 10px;
    }
   
}

@media only screen and (max-width: 820px) {
    header .notification h1 {
        padding-left: 10px;
        font-size: 8px;
    }
    header .notification .launch-time {
        padding-right: 10px;
    }
    header .notification .launch-time p {
        font-size: 8px;
    }
    header .notification .launch-time .sale-time li {
        font-size: 12px;
    }
    header .notification .launch-time .sale-time div {
        width: 40px; 
    }
    header nav .right .Tabpanel {
        width: auto;
        margin-left: 0px;
    }
    .device {
        display: block;
    }
    .Frame {
        width: 95%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow-x: scroll;
        grid-gap: 20px;
        padding: 10px 10px;
    }
    .Frame::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers */
      }
    .Frame img {
        width: 40px;
    }
    .Frame h2  {
        width: 200px;
        font-size: 15px;
    }
    .Frame h2 p {
        font-size: 12px;
    }
    .Frame .one {
        width: 100%;
    }
    .Frame2 span {
        font-size: 12px;
    }
    .Frame2 h1 {
        font-size: 19px;
    }
    .Frame2 p {
        font-size: 13px;
    }
    .Frame2 a button {
        padding: 8px;
        font-size: 12px;
    }
    .Frame2 button img {
        margin-left: 5px;
    }

}

@media only screen and (max-width: 680px) {
    header nav {
        margin-top: 140px;
    }
    header .notification {
        padding: 3px 11px;
        /* background-color: red; */
    }
    header .notification h1 {
        font-size: 10px;
        font-weight: 500;
        /* padding-left: 10px; */
        display: block;
    }
    header .row-2  {
        padding: 3px 15px;
    }
    header .second {
        padding: 5px 10px;
    }
    header .notification .launch-time {
        width: 100%;
        justify-content: flex-start;
        padding-left: 10px;
        display: none;
        /* display: flex; */
    }
    header .notification .launch-time p {
        font-size: 11px;
    }
    header .notification .launch-time .sale-time {
        margin-left: 25px;
    }
    header .notification .launch-time .sale-time li {
        font-size: 15px;
    }
    header .ad {
        height: 4vh;
    }
    .call {
        /* width: 94%; */
        height: auto;
        background-color: #FAEBD8;
        text-transform: uppercase;
     }
     .call h1 {
         font-size: 16px;
         font-family: "Heebo", sans-serif;
         /* letter-spacing: 1px; */
         /* font-weight: bold; */
     }
    header .account span i {
        display: none;
    }
    header .account  i {
        font-size: 23px;
    }
    header  .logo a h1 {
        font-size: 20px;
    }
    header  .logo a  .star {
        display: none;
    }
    header .account span ul li a {
        display: none;
    }
    header .account span i {
        margin-right: 0px;
        font-size: 23px;
    }
    header .account span  .person {
        display: block;
        margin-top: -20px;
    }
    header nav .right {
        width: 100%;
        display: none;
    }
    header nav .right .Tabpanel {
        width: auto;
        margin-left: 0px;
        padding: 0px 13px;
        /* border-radius: 10px; */
    }
    header nav .right .Tabpanel .caruo {
        border-radius: 5px !important;
    }
    
    .sidenav {
        height: 100%;
        width: 420px;
        position: fixed;
        z-index: 1;
        top: 40px;
        left: -420px;
        background-color: white;
        overflow-x: hidden;
        transition: left 0.5s;
        display: block;
        overflow-y: scroll;
        padding-bottom: 70px;
        /* padding-top: 60px; */
    }
    .sidenav.active {
        left: 0;
    }
    .sidenav .hamburger ul {
        padding-left: 20px;
        border-top: thin solid rgba(214, 214, 214, 0.63);
        border-bottom: thin solid rgba(214, 214, 214, 0.63);
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .sidenav .hamburger ul  .all {
        display: none;
    }
    .sidenav .hamburger ul li {
        list-style: none;
        display: flex;
        align-items: center;
        /* padding-top: 8px; */
        padding-bottom: 8px;
    }
    .sidenav .hamburger ul li img {
        margin-right: 8px;
        width: 18px;
    }
    .sidenav  .hamburger ul li i {
        margin-right: 10px;
    }
    .sidenav .hamburger ul li a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #404247;
        text-decoration: none;
        font-size: 13px;
    }
    .sidenav .hamburger ul li a:hover {
        color: #FF9900;
    }
    .sidenav .hamburger a {
        text-decoration: none;
    }
    .sidenav .hamburger  .our {
        display: block;
    }
    .sidenav .hamburger ul .our  {
        display: flex;
        /* background-color: #F1F1F2; */
        font-family:  sans-serif;
        color: #404247;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        display: block;
        /* padding: 5px 0px;
        padding-left: 5px; */
        position: relative;
        font-weight: bolder;
    }
    .sidenav .hamburger  .our  span {
        font-size: 12px;
        color: #FF9900;
        position: absolute;
        right: 7%;
    }
    .sidenav .hamburger  .ser  {
        display: flex;
        /* background-color: #F1F1F2; */
        font-family:  sans-serif;
        color: #404247;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        display: block;
        /* padding: 5px 0px; */
        padding-left: 20px;
        position: relative;
        font-weight: bolder;
    }
    .sidenav .hamburger  .ser  span {
        font-size: 12px;
        color: #FF9900;
        position: absolute;
        right: 7%;
    }
    
    .sidenav .hamburger ul li i {
        color: black;
        font-size: 13px;
        display: flex;
        align-items: center;
        font-size: 18px !important;
        /* margin-left: 50px; */
    }
    .sidenav .hamburger .logo {
        padding-left: 20px;
        display: block;
    }
    .sidenav .hamburger .logo  a h1 {
        margin-right: 35px;
        color: black;
        font-family: "Yatra One", system-ui;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
    }
    .sidenav .hamburger form {
        display: flex;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .sidenav .hamburger form button {
        background-color: transparent;
        border: thin solid #404247;
        color: #404247;
        font-size: 13px;
        padding: 6px 50px;
        border-radius: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sidenav .hamburger form  .bt {
        margin-left: 10px;
    }
    .sidenav .hamburger form button:hover {
        color: #FF9900;
        border-color: #FF9900;
    }
    .sidenav .hamburger .help {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sidenav .hamburger .help a {
        text-decoration: none;
        color: #404247;
        font-size: 12px;
    }
    .sidenav .hamburger .help i {
        font-size: 10px !important;
        color: #404247;
    }
    .cate {
        display: none;
    }
    .catego  {
        padding: 0px 30px;
    }

    .catego div {
        width: auto;
        overflow-x: scroll;
    }
    .catego div::-webkit-scrollbar {
        display: none;
    }
    .catego img {
        width: 100px;
    }
    .catego .ig-one {
        margin-left: 20px;
    }
    .catego div p {
        font-size: 8px;
    }
    header nav .right .Tabpanel .car  {
        width: auto;
        margin-left: 0px;
    }
    header nav .right .Tabpanel  .ik{
        display: none;
    }

    .catego {
        width: 99%;
        padding: 0px;
    }
    .catego div {
        width: auto;
        overflow-x: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .cateno {
        display: block;
    }
    .Frame2 {
        width: 91%;
        padding: 0px;
        margin-bottom: 0px;
    }
    .Frame5 {
        width: 91%;
        padding: 0px;
        margin-bottom: 0px;
    }
    .deals {
        display: none;
    }
    .deals .NewArrivals  {
        background-color: transparent;
        justify-content: flex-start;
        padding-left: 10px;

    }
    .deals .mor .NewArrivals  {
        justify-content: flex-start;
        padding-left: 10px;

    }
    section .NewArrivals h1 {
        color: #030712;
        /* color: white; */
        font-size: 15px;
    }
    main .NewArrivals  a button {
        color: #030712;
    }
    main section .NewArrivals  a button {
        color: #030712;
    }
    .deals .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main .grid   img {
        width: 10px;
    }
    .deals .NewArrivals h1 {
        font-size: 13px;
        color: #030712;
    }
    .deals .mor  .NewArrivals h1 {
        font-size: 13px;
        color: #030712;
    }
    .deals .NewArrivals i {
        font-size: 11px;
    }
    .deals .grid {
        /* margin-left: 0px; */
        padding-right: 0px;
    }
    .deals .grid img {
        width: 160px;
        /* height: 150px; */
    }
    .deals .grid .container p {
            font-size: 12px;
    }

    main .grid .container {
        border: none;
    }
  
    main {
        padding: 10px 15px;
        display: none;
    }
    main .NewArrivals {
        padding: 5px 5px;
        flex-wrap: wrap;
    }
    main .NewArrivals .time {
        display: none;
        /* flex-wrap: wrap; */
    }
    main .NewArrivals .Dee {
        width: 80%;
    }
    main .NewArrivals .Dee .time {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    main .NewArrivals .Dee .time p {
        padding-left: 0px;
    }
    main .NewArrivals .TIME {
        display: block;
    }
    main .NewArrivals .time p {
        font-size: 12px;
    }
    main .NewArrivals .time ul {
        font-size: 13px;
    }
    main .NewArrivals .time  .p {
        margin-left: 5px;
    }
    main .NewArrivals h1 {
        font-size: 12px;
        margin-top: 5px;
        /* color: #030712; */
    }
    main .NewArrivals h1 span {
        display: none;
    }
    main .NewArrivals  a button {
        padding: 0px;
        font-size: 11px;
        color: white;
    }
    main .grid .container .sp {
        width: 35px;
        height: 25px;
        top: 8%;
        /* left: -0%; */
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 10px;
    }
    main .grid .container {
        text-align: left;
        padding-top: 5px;
    }
    main .grid .container div img {
        width: 110px;
        height: 110px;
        cursor:default;
    }
    main .grid .container  h1 {
        font-size: 9px;
        text-align: left;
        font-weight: 500;
    }
    .cloths {
        display: none;
    }
    .write-up {
        padding: 10px 18px;
    }
    .write-up h1 {
        font-size: 15px;
        margin-bottom: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }
    .write-up p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 9px;
    }
    footer {
        /* padding-bottom: 5px; */
        background-color: red;
    }
    footer .form {
        flex-direction: column;
        /* padding-bottom: 15px; */
        padding: 15px;
    }
    footer .form .left {
        width: 100%;
        padding: 0px;
    }
    footer .form .right {
        width: 100%;
        padding: 0px;
        padding-top: 5px;
    }
    footer .form .left h1 {
        font-size: 17px;
    }
    footer .form .left p {
        font-size: 12px;
    }
    footer .right .inp input  {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 40px;
    }
    footer .right .inp button {
        top: 0%;
    }
    footer .right p {
        text-align: right;
        margin-left: 0px;
        font-size: 9px;
    }
    footer .box {
        display: none;
    }
    footer .box h4 {
        font-size: 15px;
        padding-bottom: 10px;
    }
    footer .box ul li {
        font-size: 13px;
    }
    footer .box ul li a {
        font-size: 13px;
    }
    footer .box .one div img {
        width: 22px;
    }
    footer .box .one div h3 {
        font-size: 12px;
        font-family: sans-serif;
    }
    footer .box .one div h5 {
        font-size: 12px;
    }
    footer .box .five .app ul li {
        font-size: 11px;
    }
    footer .box .five .social {
        padding-top: 8%;
    }
    /* footer .box .five .social ul li {
        padding: 8px;
        font-size: 10px;
    } */
    footer .box .five .social p {
        font-size: 12px;
    }
    footer .box .five .app img {
        width: 90px;
    }
    footer .pay {
        /* padding: 10px;
        flex-direction: column; */
        display: none;
    }
    footer .pay .logo ul {
        margin-top: 10px;
    }
    footer .pay .list ul li a {
        font-size: 12px;
        margin-left: -10px;
    }
    article .mobileAcc {
        width: 95% !important;
        /* padding: 8px 0px !important; */
        margin-top: 10px !important;
    }
    article .mobileAcc h1 {
        font-size: 13px !important;
        font-weight: 500 !important;
    }
    article .mobileAcc span {
        font-size: 11px !important;
    }
    article .head  {
        width: 95% !important;
        grid-gap: 5px !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
    article .head img {
        margin-top: 0px;
        width: 155px !important;
        box-shadow: 1px 2px 16px #05080f09 !important;
    }
    article .head p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 11px !important;
    }
    
   
}
@media only screen and (max-width: 480px) {
    header .notification .launch-time {
        width: 100%;
    }
    header .notification .launch-time p {
        font-size: 11px;
    }
    header .notification .launch-time .sale-time li {
        font-size: 12px;
    }
    header .notification .launch-time .sale-time div {
        width: 45px;
    }
    header .notification .launch-time .sale-time {
        display: flex;
    }
    header .account div img {
        width: 23px;
    }
    header .account div ul {
        display: none;
    }
    .sidenav {
        height: 100%;
        width: 370px;
        position: fixed;
        z-index: 1;
        /* top: 4px; */
        left: -370px;
        /* background-color: #E94D22; */
        overflow-x: hidden;
        transition: left 0.5s;
        display: block;
       
    }
    .Frame {
        width: 89%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow-x: scroll;
        grid-gap: 20px;
        padding: 10px 10px;
    }   
    .catego .ig-one {
        margin-left: 0px;
    }
    .catego {
        width: auto;
        /* padding: 0px; */
    }
    .catego div {
        width: 93%;
        overflow-x: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        /* margin-left: 0px;
        padding-left: 10px; */
    }
    footer .box {
        display: none;
    }
    footer .pay {
        display: none;
    }
}
/* @media only screen and (max-width: 367px)  */
   
