@media only screen and (max-width: 1115px) {
    
    .AD .img {
        width: 100%;
        background-position: center;
        background-size:auto;
        background-repeat: no-repeat;
    }
    
}
@media only screen and (max-width: 740px) {
    .AD {
        background-color: red;
    }
    .AD .img {
        background: none;
        padding: 0px;
    }
    .AD .img img {
        display: block;
        /* margin-right: 10px; */
        /* width: 700px; */
    }
} 

@media only screen and (max-width: 480px) {
    .AD {
        background-color: white;
    }
    .AD .img {
        background: none;
        padding: 0px;
    }
    .AD .img img {
        width: 423px;
        display: block;
        /* margin-right: 10px; */
        /* width: 700px; */
    }
} 